ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    position: absolute;
}

li {
    margin-top: 1rem;
}

label {
    display: block;
    line-height: 50px;
    text-align: center;
    padding: 2px;
    width: 150px;
    height: 50px;
    background-color: cornflowerblue;
    color: white;
}

label:hover {
    background-color: orange;
}

#menu {
    height: 100%;
    width: 300px;
    left: 0;
    position: absolute;
    background-color:darkgray;
}

#topright{
    height: 60%;
    width: 100%;
    left: 300px;
    position: absolute;
    background-color: coral;
}

#downright{

}

#menu input[type="checkbox"]{
    display: none;
}

#menu input:checked ~ ul {
    display: flex;
    flex-direction: column;
}


ul ul {
    display: none;
    position: relative;
}

ul ul li {
    display: flex;
    flex-direction: column;
}

a {
    display: block;
    line-height: 50px;
    text-align: center;
    padding: 2px;
    width: 150px;
    height: 50px;
    background-color: cornflowerblue;
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: orange;
}



#banner {
    font-size: 32px;
    margin-left: 30px;
    margin-bottom: 0;
}

